<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Неверно ввели адресс страницы!</title>
</head>
<body>
    <h2>Похоже, мы попали не на ту страницу!</h2>
    <img src="https://cdn.tproger.ru/wp-content/uploads/2015/04/9gag404.jpg" />
</body>
</html>